@page
@model SchoolMaris.Pages.PupilsList.PupilsIndexModel

<br />
<div class="conatiner row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">Pupils List</h2>
    </div>
    <div class="col-3">
        <a asp-page="CreatePupil" class="btn btn-info form-control text-white">Add New Pupil's Profile</a>
    </div>
    <div class="col-12 border-secondary p-3 mt-3">
        <form>
            <p>
                <select asp-for="PCode" asp-items="Model.Codes">
                    <option value="">All</option>
                </select>
                Pupils LastName: <input type="text" asp-for="PSearchString" />
                <input type="submit" value="Filter" />
            </p>
        </form>
        <form method="post">
            @if(Model.PupilsProfile_.Count() >0)
            {
                <table class="table table-striped border col justify-content-center">
                    <tr class="table-secondary">
                        <th class="col-1">
                            <label asp-for="PupilsProfile_.FirstOrDefault().PupilsImage"></label>
                        </th>
                        <th class="col-1">
                            <label asp-for="PupilsProfile_.FirstOrDefault().FirstName"></label>
                        </th>
                        <th class="col-1">
                            <label asp-for="PupilsProfile_.FirstOrDefault().LastName"></label>
                        </th>
                              <th class="col-1">
                            <label asp-for="PupilsProfile_.FirstOrDefault().DateOfBirth"></label>
                        </th>
                        <th class="col-1">
                            <label asp-for="PupilsProfile_.FirstOrDefault().Age"></label>
                        </th>
                        <th class="col-1">
                            <label asp-for="PupilsProfile_.FirstOrDefault().Gender"></label>
                        </th>
                              <th class="col-1">
                            <label asp-for="PupilsProfile_.FirstOrDefault().Address"></label>
                        </th>
                        <th class="col-1">
                            <label asp-for="PupilsProfile_.FirstOrDefault().CreatedDate"></label>
                        </th>
                        <th class="col-1">
                            <label asp-for="PupilsProfile_.FirstOrDefault().LastUpdatedDate"></label>
                        </th>
                        <th class="col-1">

                        </th>
                    </tr>

                    @foreach (var item in Model.PupilsProfile_)
                    {
                        var tm = "#myModal" + item.PupilsProfileID;
                        var mid = "myModal" + item.PupilsProfileID;
                        <tr>
                            <td class="col-1">
                                <img src="data:image/jpg;base64,@item.PupilsImage" width="50px" height="50px" />
                            </td>
                            <td class="col-1">
                                <div style="text-transform:uppercase;"> @Html.DisplayFor(m=>item.FirstName)</div>
                            </td>
                            <td class="col-1">
                                <div style="text-transform:uppercase;"> @Html.DisplayFor(m=>item.LastName)</div>
                            </td>
                            <td class="col-1">
                                @Html.DisplayFor(m=>item.DateOfBirth )
                            </td>
                            <td class="col-1">
                                @Html.DisplayFor(m=>item.Age)
                            </td>
                            <td class="col-1">
                                @Html.DisplayFor(m=>item.Gender)
                            </td>
                            <td class="col-1">
                                @Html.DisplayFor(m=>item.Address)
                            </td>
                            <td class="col-1">
                                @Html.DisplayFor(m=>item.CreatedDate)
                            </td>
                            <td class="col-1">
                                @Html.DisplayFor(m=>item.LastUpdatedDate)
                            </td>
                            <td class="col-3">
                                <button type="button" class="btn btn-primary col-4" data-toggle="modal" data-target="@tm">  Delete</button>

                                <div class="modal fade" id="@mid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Pupil's Profile Delete Confirmation</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure want to Delete this Pupil's Profile?
                                            </div>
                                            <div class="modal-footer">
                                                <button asp-page-handler="Delete" asp-route-Id="@item.PupilsProfileID" id="deleteBtn" class="btn bg-danger  text-white mr-1">YES</button>
                                                <button type="button" class="btn btn-success " data-dismiss="modal">NO</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a asp-page="EditPupil" asp-route-Id="@item.PupilsProfileID" class="btn bg-success text-white mr-1 col-4">Edit</a>
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>No Available Pupil's Profile.</p>
            }
        </form>
    </div>
</div>
