@page
@model SchoolMaris.Pages.EnrolmentProfileList.EnrolmentIndexModel



<br />
<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">Enrolment List</h2>
    </div>
    <div class="col-3">
        <a asp-page="CreateEnrolment" class="btn btn-info form-control text-white">Add New Enrollee</a>
    </div>

    <div class="col-12 border p-3 mt-3">
        <form>
            <p>
                <select asp-for="ECode" asp-items="Model.Codes">
                    <option value="">All</option>
                </select>
                Pupils LastName: <input type="text" asp-for="ESearchString" />
                <input type="submit" value="Filter" />
            </p>
        </form>

        <form method="post">
            @if (Model.EnrolmentProfile_.Count() > 0)
            {
                <table class="table table-striped border col justify-content-center">
                    <tr class="table-secondary">
                        <th class="col-1">
                            <label asp-for="EnrolmentProfile_.FirstOrDefault().LevelSubjectTeacher.LevelSubject.Level"></label>
                        </th>
                        <th class="col-1">
                            <label asp-for="EnrolmentProfile_.FirstOrDefault().PupilsProfile"></label>
                        </th>
                        <th class="col-1">
                            <label asp-for="EnrolmentProfile_.FirstOrDefault().LevelSubjectTeacher.LevelSubject.Subject"></label>
                        </th>
                        <th class="col-1">
                            <label asp-for="EnrolmentProfile_.FirstOrDefault().LevelSubjectTeacher.Teacher"></label>
                        </th>
                        <th class="col-2">
                            <label asp-for="EnrolmentProfile_.FirstOrDefault().CreatedDate"></label>
                        </th>
                        <th class="col-2">
                            <label asp-for="EnrolmentProfile_.FirstOrDefault().LastUpdatedDate"></label>
                        </th>
                        <th class="col-2">

                        </th>
                    </tr>

                    @foreach (var item in Model.EnrolmentProfile_)
                    {
                        var tm = "#myModal" + item.EnrolmentProfileID;
                        var mid = "myModal" + item.EnrolmentProfileID;
                        <tr>
                            <td class="col-1">
                                <div style="text-transform:uppercase;">  @Html.DisplayFor(m=>item.LevelSubjectTeacher.LevelSubject.Level.Code)</div>
                                
                            </td>
                            <td class="col-1">
                                <div style="text-transform:uppercase;">  @Html.DisplayFor(m=>item.PupilsProfile.LastName)</div>
                                <div style="text-transform:uppercase;">  @Html.DisplayFor(m=>item.PupilsProfile.FirstName)</div>
                            </td>
                            <td class="col-1">
                                <div style="text-transform:uppercase;">  @Html.DisplayFor(m=>item.LevelSubjectTeacher.LevelSubject.Subject.Code)</div>
                            </td>
                            <td class="col-1">
                                <div style="text-transform:uppercase;">  @Html.DisplayFor(m=>item.LevelSubjectTeacher.Teacher.LastName)</div>
                                <div style="text-transform:uppercase;">  @Html.DisplayFor(m=>item.LevelSubjectTeacher.Teacher.FirstName)</div>
                            </td>
                            <td class="col-2">
                                @Html.DisplayFor(m=>item.CreatedDate)
                            </td>
                            <td class="col-2">
                                @Html.DisplayFor(m=>item.LastUpdatedDate)
                            </td>
                            <td class="col-4">

                                <button type="button" class="btn btn-primary col-4" data-toggle="modal" data-target="@tm">  Delete</button>

                                <div class="modal fade" id="@mid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Enrollee Delete Confirmation</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure want to Delete this Enrollee?
                                            </div>
                                            <div class="modal-footer">
                                                <button asp-page-handler="Delete" asp-route-Id="@item.EnrolmentProfileID" id="deleteBtn" class="btn bg-danger  text-white mr-1">YES</button>
                                                <button type="button" class="btn btn-success " data-dismiss="modal">NO</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <a asp-page="EditEnrolment" asp-route-id="@item.EnrolmentProfileID" class="btn bg-success text-white mr-1 col-4">Edit</a>

                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>No Available Enrollee Profile.</p>
            }
        </form>
    </div>
</div>


